<form action="/coords_to_weather/results">

  <label for="latitude_input">Latitude</label>
  <input id="latitude_input" type="text" placeholder="Enter the latitude" name="latitude">

  <label for="longitude_input">Longitude</label>
  <input id="longitude_input" type="text" placeholder="Enter the longitude" name="longitude">

  <button>Lookup Weather!</button>

</form>
