<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/results">

  <label for="street_input">Street Address</label>
  <input id="street_input" type="text" placeholder="Enter the address" name="street_address">

  <button>Lookup Coordinates!</button>

</form>

