<h1>Street address to coordinates results</h1>

<dl>

  <dt>Street Address</dt>
  <dd><%= @street_address %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude_results %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude_results %></dd>

</dl>

