<h1>Street address to weather calculation</h1>

<form action="/street_to_weather/results">

  <label for="street_input">Street Address</label>
  <input id="street_input" type="text" placeholder="Enter the address" name="street_address">

  <button>Tell me the weather!</button>

</form>

