<h1>New addition</h1>

<form action="/wizard_add">

  <label for="addition_input_1">Add this:</label>
  <input id="addition_input_1" type="text" name="first_num">

  <label for="addition_input_2">to this:</label>
  <input id="addition_input_2" type="text" name="second_num">
  <button>Add!</button>

</form>

