<h1>New multiplication</h1>

<form action = "wizard_multiply">

  <label for = "multiplication_input_1">Multiply this:</label>
  <input id = "multiplication_input_1" format="text" name="first_num">

  <label for = "multiplication_input_2">by this:</label>
  <input id = "multiplication_input_2" format="text" name="second_num">

  <button>Multiply!</button>

</form>