<h1>New subtraction</h1>

<form action="/wizard_subtract">

  <label for="subtraction_input_1">Subtract this: </label>
  <input id="subtraction_input_1" format="text" name="first_num">

  <label for="subtraction_input_2">from this: </label>
  <input id="subtraction_input_2" format="text" name="second_num">

  <button>Subtract!</button>

</form>